

.dark-gray-back-section{
    border: 1px solid #333130;
	background: linear-gradient(45deg, #333130 10%, #71706f 50%, #333130 90%);
}

.section-capture{
	box-sizing: border-box;
	color: #fe6c0a;
	font-family: 'Roboto Slab', serif;
	font-size: 30px;
}



/* HEADER */
/* ШАПКА */

#site-header{
	position: sticky;
	top: 0;
	z-index: 100;
	padding: 30px 0px 30px 0px;
}

/* заголовок сайта */
#site-name-wrapper{
	box-sizing: border-box;
	margin: 20px;
	text-align: center;
}

#site-name{
	color: #fe6c0a;
	font-family: 'Roboto Slab', serif;
	font-size: 35px;
}


/* декоративна лінія під заголовком сайта і заголовками його розділів */

.decorative-line-wrapper{
	margin: 0px 0px 10px 0px;
	text-align: center;
}

.decorative-line{
	display: inline-block;
	width: 300px;
	height: 2px;
}

.section-line{
	width: 150px;
	height: 3px;
}

.light-blue-background{
    background: #cff6f2;
}


/* головне меню */
#main-menu{
	margin-top: 20px;
	list-style: none;
	font-size: 0px;
	text-align: center;
}

.main-menu-item{
	display: inline-block;
	border: 1px solid #00aba5;
	transition-duration: 0.5s;
}

.main-menu-item:hover{
	border: 1px solid #FFFF00;
}

.main-menu-button{
	display: block;
	padding: 5px;
	color: #00fff6;
	text-decoration: none;
    font-family: 'Montserrat', sans-serif;
	font-size: 17px;
}

.main-menu-button:hover{
	color: #dafffe;
}

/* ------------------------------------------------------------------ */







/* MAIN */
/* КОНТЕНТ */

/* ABOUT */
/* ПРО МЕНЕ */
#about{
	box-sizing: border-box;
	padding: 30px 0px 30px 0px;
	border: 1px solid #c3c3c3;
	background: linear-gradient(180deg, #c3c3c3 10%, #cccdd0 50%, #c3c3c3 90%);
}

.box-capture-wrapper{
	box-sizing: border-box;
	margin: 20px;
	text-align: center;
}

/*  фото */
.dev-photo-wrapper{
	box-sizing: border-box;
	width: 260px;
	height: 260px;
	margin: 10px auto;
}

.dev-photo-icon{
	width: 250px;
	height: 250px;
	border: 1px solid #fe6c0a;
	border-radius: 50%;
	margin: auto auto;
	transition-duration: 2s;
}

/* імя */
.dev-name{
	box-sizing: border-box;
	margin: 10px;
	text-align: center;
}

/* коротка розповідь */
.dev-short-description{
	box-sizing: border-box;
    width: 50%;
	margin: 0 auto;
	padding: 15px;
	background: #fff;
	box-shadow: 7px 7px 10px 5px #333130;
}

/* ------------------------------------------------------------------ */










@keyframes light{
	from{
		background: linear-gradient(180deg, #333130 10%, #fff000 50%, #333130 90%);
	}
	5%{
		background: linear-gradient(180deg, #333130 12%, #fff000 50%, #333130 88%);
	}
	10%{
		background: linear-gradient(180deg, #333130 15%, #fff000 50%, #333130 85%);
	}
	15%{
		background: linear-gradient(180deg, #333130 18%, #fff000 50%, #333130 82%);
	}
	25%{
		background: linear-gradient(180deg, #333130 20%, #a0e9ea 50%, #333130 80%);
	}
	30%{
		background: linear-gradient(180deg, #333130 25%, #a0e9ea 50%, #333130 75%);
	}
	35%{
		background: linear-gradient(180deg, #333130 30%, #a0e9ea 50%, #333130 70%);
	}
	40%{
		background: linear-gradient(180deg, #333130 35%, #a0e9ea 50%, #333130 65%);
	}
	50%{
		background: linear-gradient(180deg, #333130 40%, #caf3fb 50%, #333130 60%);
	}
	60%{
		background: linear-gradient(180deg, #333130 35%, #a0e9ea 50%, #333130 65%);
	}
	65%{
		background: linear-gradient(180deg, #333130 30%, #a0e9ea 50%, #333130 70%);
	}
	70%{
		background: linear-gradient(180deg, #333130 25%, #a0e9ea 50%, #333130 75%);
	}
	75%{
		background: linear-gradient(180deg, #333130 20%, #a0e9ea 50%, #333130 80%);
	}
	85%{
		background: linear-gradient(180deg, #333130 18%, #fff000 50%, #333130 82%);
	}
	90%{
		background: linear-gradient(180deg, #333130 15%, #fff000 50%, #333130 85%);
	}
	to{
		background: linear-gradient(180deg, #333130 10%, #fff000 50%, #333130 90%);
		
	}
}





/* SKILLS */  
/* ТЕХНОЛОГІЇ З ЯКИМИ ПРАЦЮЮ */

#skills{
	box-sizing: border-box;
	animation: light 3s infinite alternate;
}


#skills-wrapper{
	display: flex;
	min-height: 270px;
	justify-content: center;	
	padding: 15px;
}

/* картка з назвою технології і логотипом */
.skill{
	box-sizing: border-box;
	width: 170px;
	height: 210px;
	margin: 10px;
	padding: 10px;
	box-shadow: 0px 0px 0px #fffc0b;
	border: 1px solid #fff;
	background: linear-gradient(180deg, #c3c3c3 10%, #cccdd0 50%, #c3c3c3 90%);
	transition-duration: 1s;
	
}

.skill:hover{
	padding: 20px;
	border: 1px solid #ffa800;
    box-shadow: 10px 10px 12px #fffc0b;
}

/* логотип технології */
.skill-image-wrapper{
	box-sizing: border-box;
	max-width: 135px;
	margin: 5px;
}

.skill-icon{
	width: 100%;
	border: 1px solid #fe6c0a;
	border-radius: 50%;
}

/* назва технології */
.skill-name{
	box-sizing: border-box;
	margin-top: 10px;
	color: #fff;
	font-family: 'Montserrat', sans-serif;
	font-size: 30px;
	text-align: center;
}

 /* ------------------------------------------------------------------ */





/* PORTFOLIO */
/* ПОРТФОЛИО */
#portfolio{
	box-sizing: border-box;
	min-height: 700px;
	border: 1px solid #c3c3c3;
	background: linear-gradient(180deg, #c3c3c3 10%, #cccdd0 50%, #c3c3c3 90%);
}

#portfolio-items-wrapper{
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}

/* картка з зображенням і посиланням на презентовану роботу */
.portfolio-item{
	box-sizing: border-box;
	width: 40%;
	overflow: hidden;
	margin: 10px;
	position: relative;
	color: #fff;
	border: 1px solid #ff7e00;
}

/* зображення презентованої роботи */
.portfolio-item-image{
	box-sizing: border-box;
	width: 100%;
	overflow: hidden;
}

.portfolio-item-image-icon{
	width: 100%;
}

/* блок з назвою і посиланням на презентовану роботу */
.portfolio-item-link-wrapper{
	display: none;
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	background: rgba(0, 0, 0, 0.7);
	text-align: center;
}

.portfolio-item-link{
	display: inline-block;
	box-sizing: border-box;
	margin-top: 25%;
	padding: 15px;
	background: #2d2c2c;
	border: 1px solid #ffea00;
	border-radius: 15px;
	color: #fe6c0a;
	font-family: 'Montserrat', sans-serif;
	font-size: 30px;
	text-decoration: none;
	transition-duration: 0.7s;
}

.portfolio-item-link:hover{
	color: #fff;
	border: 1px solid #00aba5;
	text-decoration: underline;
}

.portfolio-item-captions{
	box-sizing: border-box;
	margin: 10px;
}

/* ------------------------------------------------------------------ */





/* CONTACTS */
/* КОНТАКТИ */

#contacts{
	box-sizing: border-box;
	padding: 30px 0px 30px 0px;
}


.contacts-wrapper{
	display: flex;
	justify-content: center;
}

/* колонка з группою конактів */
.contact-list-col{
	width: 30%;
	box-sizing: border-box;
}

/* пункт списку контактів */
.contact-list-item{
	color: #fff;
	margin-top: 10px;
    font-family: 'Montserrat', sans-serif;
	font-size: 17px;
}


.contact-list-capture{
	box-sizing: border-box;
	margin-top: 15px;
	color: #fff;
	font-family: 'Roboto Slab', serif;
	font-size: 18px;
}

.main-list-value{
	color: #fe6c0a;
}

.list-item-link{
	color: #FFF;
    display: inline-block;
	height: 17px;
	padding-left: 25px;
	background-repeat: no-repeat;
	background-position: left;
	background-clip: border-box;
	background-size: contain;
	text-decoration: none;
}

.list-item-link:hover{
    color: #fe6c0a;
}


/* колонка з посаланнями на соціальні мережі */
.facebook-list-item-link{
    background-image: url('../img/contacts/social/Facebook_icon.png');
}

/* колонка з посаланнями на мессенджери */
.messenger-list-item-link{
	background-image: url('../img/contacts/social/Facebook_icon.png');
}

.messenger-list-viber{
	background-image: url('../img/contacts/messengers/viber.png');
}

.messenger-list-telegram{
	background-image: url('../img/contacts/messengers/telegram.png');
}

.messenger-list-skype{
	background-image: url('../img/contacts/messengers/Skype.png');
}

/* ------------------------------------------------------------------ */





/* FOOTER */
/* ПІДВАЛ */

#footer{
	padding: 30px 0px 30px 0px;
	border-top: 2px solid #fe6c0a;
}

/* копирайт */
#copy{
	color: #fff;
    text-align: center;
	font-family: 'Roboto Slab', serif;
	font-size: 18px;
}